<!--Home Page-->

<html>
    <head>
        <title>LSU Scheduling App</title>
        <link href='/assets/css/style.css' type=text/css rel=stylesheet>
    </head>
    <body>
    <h1>Home Page</h1>
    </body>
</html>