<!DOCTYPE html>
<html ng-app="student">
<head>
    <meta charset='utf-8' />
    <title>Student</title>
    <script src="/assets/javascript/angular.js"></script>
    <script src="/assets/javascript/student.js"></script>
    <link href='/assets/stylesheets/fullcalendar.css' rel='stylesheet' />
    <link href="/assets/stylesheets/jquery-ui.css" rel="stylesheet" />
    <link href="/assets/stylesheets/index.css" rel="stylesheet" />
    <script src='/assets/javascript/moment.js'></script>
    <script src="/assets/javascript/jquery.js"></script>
    <script src="/assets/javascript/jquery-ui.js"></script>
    <script src='/assets/javascript/fullcalendar.js'></script>
    <script src='/assets/javascript/calendar_control.js'></script>
    <script src="/assets/javascript/jquery.lightbox_me.js"></script>
</head>
<body>
<div ng-controller="selectOptions">

    <form name="appointment">
        <label for="advisor">Select an advisor</label>
        <select name="advisor" id="advisor" ng-model="advisorList">
            <option ng-repeat="advisor in advisorList" value="{{advisor.name}}">
                {{advisor.name}}
            </option>
        </select>
    </form>

    <div>
        <div id="datepicker" style="width:50%;"></div>
    </div>
    <div>
        <div id='calendar' style="width: 50%;"></div>
    </div>
</div>

</body>
</html>